name: Publish
on:
  push:
    branches:
      - main
    tags:
      - '*'

env:
  DEBIAN_FRONTEND: "noninteractive"

jobs:
  plugin:
    name: Plugin
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Prepare upload artifacts
        run: zip "ntrs_metadata.zip" LICENSE.md __init__.py

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: plugin
          path: ntrs_metadata.zip

      - name: Prepare development release
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git tag latest
          git push -f origin tag latest

      - name: Release development version
        run: |
          gh release delete latest -y
          gh release create latest ntrs_metadata.zip -t "Latest NTRS Metadata plugin"
        env:
          GITHUB_TOKEN: ${{ github.token }}
          NOTES: |
            This is a development release and should not be considered stable.

            This release tag is continuously updated.

      - name: Release plugin
        if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
        run: |
          gh release create ${{ github.ref_name }} ntrs_metadata.zip -t "NTRS Metadata ${{ github.ref_name }}"
        env:
          GITHUB_TOKEN: ${{ github.token }}
